/*//////////////  Old/Unorganized CSS - START - (Current CSS on 217)  //////////////*/

#home img {
	max-width: 100%;
	height: auto;
}

/*********************** nav ******************/     
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: maroon;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 1000;
}
.navbar .logo img {
	height: 50px;
}
.navbar .menu {
	display: flex;
	gap: 20px;
	margin-left: auto;
	margin-right: 20px;
}
.navbar .menu a {
	text-decoration: none;
	color: white;
	font-size: 1em;
	transition: color 0.3s;
}
.navbar .menu a:hover {
	color: limegreen;
}
.navbar .hamburger {
	display: none;
	font-size: 1.5em;
	cursor: pointer;
}

@media (max-width: 768px) {
	.navbar .menu {
		display: none;
		flex-direction: column;
		background-color: #333;
		position: absolute;
		top: 60px;
		right: 20px;
		padding: 10px;
		border-radius: 5px;
	}

	.navbar .hamburger {
		display: block;
	}

	.navbar.active .menu {
		display: flex;
	}
}

header {
	margin-top: 50px;
	text-align: center;
	/* padding: 20px; */
}
header .headline h1, header .headline h2 {
	margin: 10px 0;
}
footer a {
	color: limegreen;
}

/* Hamburger Menu */
.showMenu {
    display: block;
    background-color: #105d70;
	color: #fff;
	text-align: center;
	padding: .3em;
	font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.fa-bars {
	font-size: 1.6rem;
}
nav input[type=checkbox]:checked ~ ul.menu {
	display: block;
}
nav input[type=checkbox] {
	display: none;
}
nav ul.menu {
	display: none;
}
.clearIt { clear:both; }
nav {
	background-color: #76dce5;
	text-align: center;
	margin-bottom: 2em;
}
nav li {
	border-bottom: solid 1px white;
}
nav a {
	/* font-weight: bold; */
	font-size: larger;
	text-decoration: none;
	color:white;
	padding: .8rem;
	display: block;
}
nav a:hover {
	background-color: #14818b;
	color:rgb(2, 2, 53); 
}

/* begin code for table */
td, th { 
	padding: 6px;
	border: 1px solid lightgrey;
	text-align: left;
	vertical-align: top;
}
tr:nth-of-type(even) { background: rgb(229, 246, 251);  }
/* end of code for table */

.table-image {
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
}
article:last-of-type {
	border-bottom: none;
}
article h2 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	color: #14818b;
	margin: .2em 0 .5em;
}
#home article img {
	max-width: 100%;
	max-height: 350px;
}
.headline img{
	width: 650px;
	height: auto;
	
}

@media screen and (min-width: 600px) {
	#home article img {
		float: left;
		/* margin-left: 1em; */
		padding: 1em;
	}
	#home article:nth-of-type(even) img {
		float: right;
		/* margin-left: 1em; */
		padding: 1em;
	}
	#home article::after {
		clear: both;
		content: "";
		display: block;
		height: 0;
		margin-bottom: 1em;
	}

        /*********** home - main ************/
    .headline img{
	width: 1600px;
	height: auto;
	
    }
    #address {
	display: grid;
	grid-template-columns: 1.6fr .9fr;
	gap: 8rem;
    }
    #reserv img{
	width:1600px;
	height: auto;
    }
    #menu div{
	display: flex;

    }
    #mail{
	display: flex;
    }
    #footer ul{
	display: flex;
	/* grid-template-columns: repeat(2, 1fr); */
	list-style: none;
	background-color: #842D2A;
	font-size: 2rem;
	margin: 2rem auto;

    }
}




/*////////////////////////////  ORGANIZED CSS - START -  ////////////////////////////*/


/*////////////////////////////  All Page Defaults  ////////////////////////////*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
@font-face {
    font-family: 'Devasia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Devasia Regular'), url('../fonts/devasiaRegular.woff') format('woff');
}
@font-face {
    font-family: 'Perpetua Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Perpetua Regular'), url('../fonts/perpetuaRegular.ttf') format('ttf');
}
html{font: 10px Verdana, sans-serif;}
body {font-family: Arial, sans-serif;}
h1{
    font-family: 'Devasia Regular';
    font-size: 6em;
}
h2{font-size: 2.8em;}
h3{font-size: 1.5em;}
p{
    font-size: 1.4em;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}

/*////////////////////////////  Header & Nav  ////////////////////////////*/
.logo{
    width: 127px;
    height: auto;
    margin: 10px 20px;
}
nav, footer{
    color: #f4f1ec;
    background-image: url(../images/menu_red_leather_texture.jpg);
    background-repeat: no-repeat;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
}
.navBar ul.menu{
    font-size: 1.5em;
    display: none;
    position: absolute;
    width: 100%;
    top: 80px;
}
.navBar li{
    color: #f4f1ec;
    background-color: #842D2A;
    text-align: center;
    border-bottom: solid 1px #f4f1ec;
}
.navBar li:first-child{
    border-top: solid 1px #f4f1ec;
}
.navBar a{
    display: block;
    padding: .6em;
    color: #f4f1ec;
    text-decoration: none;
}
.menu a:hover{
    background-color: #f4f1ec;
    color: #842D2A;
}
.menuBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa-solid{
    font-size: 30px;
}

/************* Hamburguer Menu *************/
.showMenu{
    background-color: transparent;
    color: #f4f1ec;
    text-align: right;
    padding: .3em .7em .3em .3em;
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    height: 40px;
    margin-right: 20px;
}

/************* Sub-menu *************/
.has-submenu {
    position: relative;
}
 
/* Hide the submenu by default */
.submenu {
    display: none;
    background-color: #842D2A;
} 
.submenu li {
    background-color: #a95754;
}

/* The label that show the submenu on mobile */
.has-submenu > a {
    display: inline-block;
    vertical-align: middle;
} 
.showSubmenu {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
}
  
/* Hide the sub-menu checkbox itself */
.has-submenu input[type="checkbox"] {
    display: none;
}
  
/* When the sub-menu checkbox is checked, show the submenu */
.has-submenu input[type="checkbox"]:checked ~ .submenu {
    display: block;
}
.fa-chevron-down{
    font-size: 1.6rem;
}

/* What makes the checkbox work */
.navBar input[type=checkbox]:checked ~ ul.menu{
    display: block;
}
.navBar input[type=checkbox]{
    display: none;
}


/*////////////////////////////  Footer  ////////////////////////////*/
.menuFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 30px;
    row-gap: 2px;
    font-size: 1.5em;
    line-height: 1.9em;
}
.menuFooter a, .footerTerms a{
    color: #f4f1ec;
    text-decoration: none;
}
.menuFooter a:hover{
    background-color: #f4f1ec;
    color: #842D2A;
    border-radius: 2px;
}
.footerSocial h3{
    text-align: center;
    padding: 20px 0 15px 0;
    border-top: solid 1px #f4f1ec;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons .fa-brands{
    font-size: 2.2em;
    margin: 0 20px 15px 0;
}
.socialIcons a{
    color: #f4f1ec;
    text-decoration: none;
}
.footerTerms{
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 20px;
}
.footerTerms a{
    font-size: 1.6em;
}
.footerTerms p{
    margin-top: 10px;
}


/*////////////////////////////  Home Page  ////////////////////////////*/
#home main{
    margin-top: 10rem;
    background-color: #f4f1ec;
}
#address, #menu{
	margin: auto 10%;
}
#address h2{margin-top: 0;
    padding-top: 2rem;}
#mail, #about{
    background-color: #ddd;
    margin-top: 0;
    padding: 2rem 10%;
}
#reserv, #menu{
	margin-top: 5rem;
}
#about h2{
	padding-top: 2rem;
}
#about p{
	margin: auto 5%;
    padding-bottom: 2rem;
}
.where-to-find-us h2, #about h2,
 #menu h2, .why-us h2, 
 .catering h2, .our-menu h2 {
	color:  #D92721;
	text-transform: uppercase;	
	font-size: 3.25rem;
	font-family: "Playfair Display", serif;
}
.button{
	display: flex;
	justify-content: center;
    padding: 2rem 3rem;
	/* padding-top: 1.5rem; */
}
.buttonlink{
	border: solid 1px #000;
	color: #fff;
	background-color: #000;
	margin: 1rem 30%;
	text-align: center;
	padding:2rem 3rem;
	font-size: 1.5rem;

}

#menu button{
	background-color: #435718;
	padding: 2rem 3rem;}
#about a,#menu a{
    color: #fff;
}
.where-to-find-us p{
	letter-spacing: .6rem;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-size: 1.5rem;
}
.schedules h3{
	font-size: 2.5rem;
	margin-top: 3rem;
}
.schedules li{
	list-style: none;
	margin: 1.5rem auto;
	font-size: 2rem;
}
.map{
	margin-top: 3rem;
    display: flex;
    justify-content: center;
}
#reserv {
	width:100%
}
#about h2, .our-menu h2{
	color: #435718;
	text-align: center;
	margin-bottom: 2rem;
	}
#about p {
	font-family: "Montserrat", serif;
	font-size: 2rem;
	font-weight: 550;
	line-height: 3rem;
}
#reserv img{
	width: 800px;
}
#about img{
	padding: 1rem 10%;
	width:700px;
}
 #menu div{
	padding-bottom: 3rem;
}
#menu img{
	padding: 0 auto 2rem auto;
}
/* #about img, #menu img{
	margin: 0 auto 2rem auto;
} */
#about .more, #menu .more{
	
	font-size: 2.5rem;

}
#menu h2{
	text-align: center;
	color: #000;
	font-size: 5.5rem;
}

#menu .buttonlink{
	border-color: #435718;
	background-color: #435718;
}
#menu .more{
	background-color: #435718;
}
#menu h2{
	text-align: center;
	color: #000;
	font-size: 5.5rem;
}
#menu  h3{
	font-size: 3.5rem;
	text-align: center;
	font-weight: 300;
	margin: 3rem auto 0.5rem auto;
}
#menu img{
	width:600px;
	height: auto;
}
#menu p{
	font-size: 2rem;
	/* margin: auto 2.5rem; */
	line-height: 5rem;
}

#mail h3{
	color: #435718;
	text-align: center;
	font-size: 3rem;
	text-transform: capitalize;
	font-weight: 300;
}
#mail p{
	font-size: 2rem;
}


/*////////////////////////////  Menu Page  ////////////////////////////*/
#menupage{
	background-color: #fff;
}
#menuPage main{
    margin-top: 15rem;
}
.foodcat {
	display: flex;
	margin: 2rem 10%;
	justify-content: space-around;
    background-color: #f4f1ec;
	
}
.foodcat h3 a{
	font-size: 2.5rem;
	text-decoration: none;
	color: #842D2A;	
}
.foodcat section li a{
	color: #435718;
	font-size: 1.5rem;
}
#menupage .fooditem{
	margin: auto 10%;
	
}
#menupage .fooditem section{
	margin-bottom: 2rem;
}
#menupage h2{
	font-size: 4rem;
	text-align: center;
	text-transform: uppercase;
}
.menupage .foodlist {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#menupage div{
	text-align: center;
}
#menupage .fooditem h3{
	text-transform: uppercase;
	background-color: #435718;
	color: #fff;
	font-size: 2rem;
	margin: auto 5%;
	padding: 1rem 5rem;
	
	
}
#menupage .fooditem h5 {
	padding: .5rem 1rem;
}
#menupage div h5{
	font-size: 2rem;
	font-weight: 600;
}
#menupage div section{
	background-color:  #f4f1ec;
}
#menupage p{
	font-size: 1.8rem;
}
.map-menu {
	background-color: #f4f1ec;
	display: flex;
	flex-direction: column;
}	
.map-menu button {
	font-size: 2rem;
	margin: 3rem auto 2rem auto;
	

}
.map-menu img {
	margin: 0 7rem 4rem 7rem;
	width: 500px auto;
}
.map-menu p{
	letter-spacing: .6rem;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 550;
	text-align: left;
	margin: auto 3rem;
}
.map-menu a{
	color: #fff;
}
#menupage .map-menu .schedules h3{
	background-color: transparent;
	color: black;
	font-weight:bold;
	
}
#menupage .map-menu p,#menupage .map-menu article{
	margin: auto 15%;
	text-align: left;
	text-transform: capitalize;
}
.price {
	font-weight: 700;
}
#mail h4 {
	font-size: 4rem;
	color: #435718;
	text-align: left;
	padding-top: 2rem;
}
#mail textarea {
	display: block;
	width: 100%;
	margin: 3rem auto;
}
#mail p{
	text-align: left;
	line-height: 3rem;
}

/*////////////////////////////  Catering Page  ////////////////////////////*/




/*////////////////////////////  Contact Page  ////////////////////////////*/

/************* Main *************/
#contactPage main{
    max-width: 1200px;
    margin: 120px auto 70px auto;
}
#contactPage main h1{
    text-align: center;
    margin: 15px;
}
#contactPage main p{
    max-width: 500px;
    text-align: center;
    line-height: 2em;
    margin-bottom: 40px;
}
.contactInfo{
    justify-self: center;
    padding: 5px;
}

/************* Form *************/
.contactForm form {
    min-width: 340px;
    max-width: 580px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #f4f1ec;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.contactForm label {
    font-family: 'Perpetua Regular';
    display: block;
    margin-bottom: 4px;
    font-size: 2em;
    font-weight: bold;
}
.contactForm input,.contactForm select,.contactForm textarea,.contactForm button {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5em;
}
.contactForm textarea{
    width: auto;
    height: 200px;
}
#contactPage .mailing-list{
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
}
#contactPage .mailing-list input{
    width: 50px;
    margin-right: 10px;
    align-self: flex-start;
    accent-color: #842D2A;
}
#contactPage .mailing-list label{
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
}
#contactPage .submitContact {
    width: 85%;
    background-color: #842D2A;
    color: #f4f1ec;
    border: none;
    cursor: pointer;
    align-self: center;
}
#contactPage .submitContact:hover {
    background-color: #435718;
    color: #f4f1ec;
}


/*//////////////////////////// Map and Directions Page ////////////////////////////*/
#MDPage main {
    max-width: 1200px;
    margin: 120px auto 70px auto;
}
.MDInfo{
    padding: 15px; 
}
#MDPage h1 {
    font-family: 'Devasia Regular';
    font-size: 7em;
    text-align: center;
    margin: 20px;
}
#MDPage .MDcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    max-width: 1200px;
    gap: 10px;
}
#MDPage .column {
    flex: 1;
    min-width: 300px;
    padding: 10px;
}
#MDPage .column h2{
    font-family: 'Perpetua Regular';
    font-weight: bold;
    font-size: 3em;
    color: #842D2A;
    margin: 15px 0;
    text-align: center;
}
#MDPage .column h3{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 8px;
}
#MDPage .columnLeftContent, #MDPage .columnRightContent{
    justify-items: center;
}
#MDPage .columnLeftContent h3{
    margin-top: 30px;
}
#MDPage .column p, #MDPage .column li{
    font-size: 1.4em;
    line-height: 1.5em;
}
#MDPage ul {
    list-style-position: inside;
    margin-bottom: 30px;
}
#MDPage .columnRightContent ul li {
    list-style-type: circle;
    margin-bottom: 8px;
}
#MDPage .map {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#MDPage iframe {
    border: none;
    width: 100%;
    height: 400px;
    max-width: 1200px;
    border-radius: 8px;
    margin-top: 10px;
}


/*////////////////////////////  Policies Page  ////////////////////////////*/
#policiesPage main{
    max-width: 100px;
    margin: 150px auto 70px auto;
}
#policiesPage h2{padding-top: 2rem;}


/*////////////////////////////  About Us Page  ////////////////////////////*/
#aboutUsPage main{
    max-width: 1200px;
    margin: 150px auto 70px auto;
}
#aboutUsPage h2{padding-top: 2rem;}


/*////////////////////////////  Gallery Page  ////////////////////////////*/
#galleryPage main{
    max-width: 1200px;
    margin: 150px auto 70px auto;
}
#galleryPage h2{padding-top: 2rem;}




/*////////////////////////////  Responsive Sizing  ////////////////////////////*/

/************* Media Queries - Intermediate screen *************/
    @media (min-width: 800px) {
               
/******************** Navegation bar *******************/
        /***** remove hamburgue menu ****/
        .showMenu{
            display: none;
        }

        .navBar span, .fa-bars:before{
            display: none;
        }

        /***** re-set menu for larger screen *****/
        .navBar{
            justify-content: space-evenly;
            align-items: center;
        }
        
        .navBar ul.menu{
            width: 600px;
            display: flex;
            justify-content: space-evenly;
            position: unset;
        }

        .navBar li{
            font-size: 1.2em;
            background-color: transparent;
            border: none!important;
        }

        .menu a:hover{
            background-color: #f4f1ec;
            color: #842D2A;
            border-radius: 2px;
        }    
                
        /* Hide the showSubmenu icon and rely on hover instead */
        .showSubmenu {
            display: none;
        }

        /* Show sub-menu on hover */
        .has-submenu:hover .submenu {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            margin: 0;
            z-index: 999;
         }
          
         .submenu {
            margin: 0;
            padding: 0.5em 0;
         }

        .submenu li {
            text-align: left;
            background-color: #a95754;
            border: none;
            padding: 0.5em 1em;
            border-bottom: 1px solid #f4f1ec;
            font-size: 0.8em;
        }

        .submenu li:last-child {
            border-bottom: none;
        }

        .submenu a {
            padding: 0;
        }

        .submenu a:hover {
            background-color: #f4f1ec;
            color: #842D2A;
        }

        
        /***** Footer *****/
        .menuFooter{
            display: flex;
            justify-content: space-evenly;
            font-size: 1.8em;
            max-width: 1000px;
            margin-left:auto;
            margin-right: auto;
        }
        
        .socialIcons .fa-brands{
            font-size: 3em;
            margin: 0 25px 20px 25px;
        }
        
        .footerTerms{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 3em;
            font-size: 1em;
            padding-bottom: 25px;
        }
        
        .footerTerms p{
            font-size: 1.6em;
            margin: 0;
        }
/*////////Home  Page- Main ////////*/ 
.headline img{
	width: 1600px;
	height: auto;
	
}
#address {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
    margin: auto 5%;
}
.about1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about1 h2{
    grid-column-start: 1;
    grid-column-end: -1;
}
#menu .food{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:1rem;
	
}
#menu h3{
	font-size: 3rem;
	padding:2rem auto;

}
#menu img{
	width:200px;
	display: block;
	width:95%;
	margin: auto ;
}

#mail h3{
	text-align: left;
}
#reserv img{
	width:1600px;
	height: auto;
}



   /*//////// Menu Page ////////*/   
   .fooditem div{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.fooditem section{
	margin: 2rem 10%;
}
#mail {
    margin:0;
	display:grid;
	grid-template-columns: 2fr .95fr;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
	width: 100%;
}  
#mail div{
	margin: auto 2rem;
}
.map-menu{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.map-menu .button{
	grid-column-start: 1;
	grid-column-end: -1;
}
.map-menu .img, .map-menu p,
.map-menu .schedules{
	padding:auto 10%;
}
.foodcat {
	margin: 2rem 20%;}

 /*//////// Contact Page ////////*/
        #contactPage h1{
            font-size: 7em;
        }
        
        #contactPage h3 {
            font-size: 2em;
        }
        
        .logo {
            width: 150px;
            height: auto;
        }
        
        
/*//////// Map and Directions Page ////////*/        
        #MDPage .MDcontainer {
            gap: 50px;
        }
        
}

/************* Media Queries - Large screen *************/
    @media (min-width: 1200px) {
            .logo {
                width: 200px;
                height: auto;
            }

/*////////Home  Page- Main ////////*/ 
            #address{
                margin:auto 15%;
            }
            #about img{
                width: 600px;}
            #about p{
                font-size: 2rem;
		        font-weight: 500;
		        line-height: 4rem;
            }
            #about{
                height: 600px;
            }
}
